@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');


body {
    font-family: playfair display;
    background-image: linear-gradient(#574028, #d9a355);
}

.color-gold {
    color: #D9A355;
}


a {
    text-decoration: none;
}

/* Start Navbar */

nav.navbar {
    z-index: 9999;
    background-color: black;
    border-bottom: 2px dotted #574028;
}

nav.navbar .navbar-brand img {
    max-width: 115px;
    max-height: 92px;
}

nav.navbar .navbar-nav .nav-item .nav-link {

    color: rgb(208 201 186);
    font-family: playfair-display;
    font-size: 20px;

}

nav.navbar .navbar-nav .nav-item a {
    transition: 1.2s;
}

nav.navbar .navbar-nav .nav-item:hover a {
    color: #d9a355;
}


nav.navbar .navbar-icons i {
    transition: .7s;
    font-size: 20px;
}

nav.navbar .navbar-icons a:hover i {
    transform: rotatey(180deg);
}

/* End Navbar */



/* Start Navbar Dropdown */

/* Removing the triangle shape */
nav.navbar .navbar-nav .dropdown .dropdown-toggle::after {
    content: "";
    display: none;
}

/* Removing the triangle shape */

nav.navbar .navbar-nav .dropdown .dropdown-toggle {
    color: rgb(208 201 186);
    font-family: playfair-display;
    font-size: 20px;
    transition: 1.2s;
}

nav.navbar .navbar-nav .dropdown:hover button {
    color: #d9a355;
}

nav.navbar .navbar-nav .dropdown button {
    border-width: 0;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu {
    background-color: #574028;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu a {
    color: #D9A355;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu li:hover a {
    background-color: #d9a355;
    color: #574028
}

/* End Navbar  Dropdown */



/* Start INDEX Header */

section.header {
    height: 130vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: right;
    margin-bottom: 20%;
}


section.header .header-content {
    left: 15px;
    top: 240px;
    font-family: 'Playfair Display', serif;
    height: 175px;
}

section.header .header-content a {
    text-decoration: none;
    background-color: #574028;
    border: 2px solid;
    border-color: #d9a355;
    padding: 22px;
    color: #d9a355;
    transition: .75s;
}

section.header .header-content a:hover {
    background-color: #d9a355;
    color: #574028;
    border-color: #574028;
}

section.header .header-clips {
    margin-top: 650px;
}

section.header .header-clip img {
    width: 100%;
    height: 100%;
    border: 2px solid #D9A355;
}

section.header .header-clips .header-clip h4 {
    background-color: #574028;
    color: #D9A355;
    opacity: 0;
    bottom: -7px;
    transition: 1.2s;

}

section.header .header-clip:hover h4 {
    opacity: 1;
}

/* End INDEX Header */


/* Start INDEX Featured */
section.featured h2{
    font-size: 45px;
}


section.featured .featured-item{
    background-color:rgb(151, 108, 56);
}

section.featured .featured-item a {
    text-decoration: none;
    background-color: #574028;
    border: 2px solid;
    border-color: #d9a355;
    padding: 12px;
    color: #d9a355;
    transition: .4s;
}

section.featured .featured-item a:hover {
    background-color: #d9a355;
    color: #574028;
    border-color: #574028;
}

/* End INDEX Featured */




/* Start INDEX Footer */

footer.footer {
    background-color: rgba(0, 0, 0, 0.2);
}

footer.footer h5 {
    font-size: 23px;
    color: #3f2408
}

footer.footer .footer-navigation li a {
    color: rgb(43, 34, 17);
    font-size: 18px;
}

footer.footer .footer-social .social-item a {
    font-size: 30px;
    transition: .5s;
    width: 50px;
    height: 50px;
}

footer.footer .footer-social .social-item:hover a {
    color: rgb(208 201 186) !important;
    transform: scale(1.15);
}

footer.footer .footer-social .social-item:nth-child(1) a {
    color: #4267B2;
    border-color: #4267B2 !important;
}

footer.footer .footer-social .social-item:nth-child(1) a:hover {
    background-color: #4267B2;

}

footer.footer .footer-social .social-item:nth-child(2) a {
    color: #1DA1F2;
    border-color: #1DA1F2 !important;
}

footer.footer .footer-social .social-item:nth-child(2) a:hover {
    background-color: #1DA1F2;
}

footer.footer .footer-social .social-item:nth-child(3) a {
    color: #c93b31;
    border-color: #c93b31 !important;
}

footer.footer .footer-social .social-item:nth-child(3) a:hover {
    background-color: #c93b31;
}



/* End INDEX Footer */




/* Start SUBSCRIBE PAGE*/

section.sub-content {
    margin-top: 15%;
}

section.sub-content .tier-card {
    background-image: linear-gradient(#441605, #d6ad60);
}

section.sub-content .tier-card .card-body h3 {
    font-weight: 700;
    color: #d9a355;
}

section.sub-content .tier-card .card-body p {
    font-size: 20px;
    font-weight: 500;
    color: #d9a355;

}

section.sub-content .tier-card .card-body ul {
    list-style: none;
}

section.sub-content .tier-card .card-body span {
    font-size: 15px;
    font-weight: 700;
    color: #382b0d;
}

section.sub-content .tier-card .card-body .xmark-icon {
    font-size: 25px;
    color: rgb(136, 0, 0);

}

section.sub-content .tier-card .card-body .check-icon {
    font-size: 25px;
    color: rgb(10, 131, 30);
}

section.sub-content .tier-card .card-body .card-btn {
    text-decoration: none;
    font-size: 18px;
    background-color: #574028;
    border: 2px solid;
    border-color: #d9a355;
    padding: 10px;
    color: #d9a355;
    transition: .75s;
}

section.sub-content .tier-card .card-body .card-btn:hover {
    background-color: #d9a355;
    color: #574028;
    border-color: #574028;
    transform: scale(1.05);
}

/* End SUBSCRIBE PAGE*/



/* START ABOUT PAGE */
/* Start Owner Section */
section.owners{
    margin-top: 12%;
}

section.owners h2 {
    color: rgb(24, 22, 22);
}


section.owners .owner-card {
    background-image: linear-gradient(#441605, #d6ad60);
}

/* End Owner Section */
/* End ABOUT */



/* Start Contact Section */
section.contact{
    margin-top: 10%;
}


section.contact input:focus,
section.contact textarea:focus {
    outline: none;
    box-shadow: none;
}

section.contact a {
    text-decoration: none;
    background-color: #574028;
    border: 2px solid;
    border-color: #d9a355;
    padding: 22px;
    color: #d9a355;
    transition: .5s;
}

section.contact a:hover {
    background-color: #d9a355;
    color: #574028;
    border-color: #574028;
}

/* End Contact Section */