@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');




.color-gold {
    color: #D9A355;
}

/* Start Navbar */

nav.navbar {
    z-index: 9999;
    background-color: black;
}


.navbar .navbar-nav .nav-item .nav-link {

    color: rgb(208 201 186);
    font-family: playfair-display;
    font-size: 20px;

}

.navbar .navbar-nav .nav-item a {
    transition: 1.2s;
}

.navbar .navbar-nav .nav-item:hover a {
    color: #d9a355;
}

.navbar .navbar-icons i {
    transition: .7s;
    font-size: 20px;
}

.navbar .navbar-icons a:hover i {
    transform: rotatey(180deg);
}

/* End Navbar */