@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');


body{
    font-family: playfair display;
}

.color-gold {
    color: #D9A355;
}

/* Start Navbar */

nav.navbar {
    z-index: 9999;
    background-color: black;
}

.navbar .navbar-brand img{
    max-width: 100px;
    max-height: 80px;
}

.navbar .navbar-nav .nav-item .nav-link {

    color: rgb(208 201 186);
    font-family: playfair-display;
    font-size: 20px;

}

.navbar .navbar-nav .nav-item a {
    transition: 1.2s;
}

.navbar .navbar-nav .nav-item:hover a {
    color: #d9a355;
}

.navbar .navbar-icons i {
    transition: .7s;
    font-size: 20px;
}

.navbar .navbar-icons a:hover i {
    transform: rotatey(180deg);
}

/* End Navbar */


/* Start Header */

section.header {
    height: 130vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: fixed;
}

section.header .header-content {
    left: 15px;
    top: 240px;
    font-family: 'Playfair Display', serif;
    height: 175px;
    width: 750px;
}

section.header .header-content a{
    text-decoration: none;
    background-color: #574028;
    border: 2px solid;
    border-color: #d9a355;
    padding: 22px;
    color: #d9a355;
    transition: .75s;
}

section.header .header-content a:hover {
    background-color: #d9a355;
    color: #574028;
    border-color:#574028 ;
}

/* End Header */